.wrap{
    width: 1210px;
    margin: 0 auto;
}
.product-intro{
    width: 1210px;
    margin-top: 10px;
    margin-bottom: 10px;


}
.preview-wrap{
    width: 352px;
    height: 500px;
    background-color: aqua;
    padding-bottom: 15px;
    float: left;

}
.itemInfo-wrap{
    width: 590px;
    height: 800px;
    margin-left: 30px;
    margin-right: 24px;
    background-color: black;
    float: left;


}
.track{
    float: left;
    width: 210px;
    height: 600px;
    background-color: blueviolet;

}
.main-img{
    position: relative;
    width: 350px;
    height: 350px;
    border: 1px solid #eee;
    margin-bottom: 20px;
    background-color: skyblue;
}
.spec-list{
    position: relative;
    width: 352px;
    height: 54px;
    margin-bottom: 18px;
    background-color: beige;
}
.prev, .next{
position: absolute;
width: 22px;
height: 32px;
top: 50%;
margin-top: -16px;
cursor: pointer;
background-color: blue;
background: url(../images/__sprite.png  ) no-repeat;
}
.prev{
    left: 0;
    background-position: 0 -54px;
}
.next{
    right: 0;
    background-position: -78px 0;
}
.spec-items{
    position: relative;
    width: 290px;
    height: 54px;
    margin: 0 auto;
    
    overflow: hidden;
}
.spec-items ul{
    top: 0;
    left: 0;
    position: absolute;
    width: 406px;
    height: 54px;
    transition: all 0.5s ;

}
.spec-items ul li{
    width: 54px;
    height: 54px;
    margin: 0 2px;
    float: left;
}
.spec-items ul li img{
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
}
.spec-items ul  .img-hover img{
    border: 2px solid #e45341;

}
.zoom-pup{
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    width: 236px;
    height: 236px;
    background-color: gold;
    opacity: 0.3;
}
.zoom-div{
    position: relative;
    display: none;
    position: absolute;
    top: 0;
    width: 540px;
    left: 351px ;
    height: 540px;
    background-color: red;
    overflow: hidden;
}
.zoom-div img{
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 800px;
}
.blank {
    width: 100%;
    height: 500px;
    background-color: chartreuse;
}
.choose-amount{
    position: relative;
    width: 58px;
    height: 44px;
    border: 1px solid #ccc;
    margin-right: 10px;
    background-color: aqua;
}
.buy-num{
    text-align: center;
    width: 43px;
    height: 42px;
    padding: 1px 2px;
    line-height: 42px;
    position: absolute;
    top: 1px;
    border: 0;
    left: 0;
}
.add, .reduce{
    text-align: center;
    width: 15px;
    height: 22px;
    border: 1px solid #ccc;
    color: #ccc;
    line-height: 22px;
    background-color: #f1f1f1;
    position: absolute;
    color: #666;
}
.reduce{
    right: -1px;
    bottom: -1px;

}
.add {
    top: -1px;
    right: -1px;
}
.disabled{
    color: #ccc;
    cursor: not-allowed;
}