.header{
    width: 100%;
    height: 140px;
    border-bottom:  1px solid #ddd;
    
}
.wrap{
    width: 1190px;
    margin: 0 auto;
}
.header-box{
    position: relative;
    height: 140px;
   
}
.logo{
    left: 0;
    top: 10px;
    position: absolute;
    width: 190px;
    height: 120px;
   
   
}
.logo img{
    display: block;
    height: 120px;
    margin: 0px auto;
    width: 100%;
}
.search {
    height: 60px;
    width: 100%;
}
.search-m{
    position: relative;
    height: 60px;
    width: 1190px;
    margin: 0 auto;
}
.search_logo{
    display: none;
    position: absolute;
    top: 4px;
    left: 0;
    width: 125px;
    height: 40px;
    background: url(./../images/sprite.png) no-repeat;
    background-position: 0 -120px;
}
.form{
    position: absolute;
    left: 260px;
    top: 25px;
    background-color: #fff;
    width: 546px;
    height: 32px;
    border: 2px solid #e2231a;
}
.keyword{
    position: absolute;
    top: 0;
    outline: none;
    width: 425px;
    height: 26px;
    padding: 2px 44px 2px 17px;
    border: 1px solid transparent;
    line-height: 26px;
    font-size: 12px;
    color: #333;
}
.form button{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    /* transition: background .2s ease; */
    background-color: #e1251b;
    border: none;
    line-height: 32px;
    right:0;
    
    position: absolute;
    width: 58px;
    height: 32px;
}
.search-helper{
    display: none;
    position: absolute;
    top: 35px;
    width: 488px;
   height: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 1px 2px 1px rgba(0,0,0,.2);
}


.search-helper p {
    height: 24px;
    font-size: 12px;
    padding: 1px 6px;
    line-height: 24px;
    cursor: pointer;
    color: #666;
}
.banner{

    width: 100%;
    height: 470px;
    padding-top: 10px;
    margin-bottom: 30px;
    
}
body{
    background-color: #f4f4f4   ;
}
.banner-box{
    height: 470px;
   
}
.banner-slice{
    float: left;
    width: 790px;
    height: 470px;
    margin: 0 auto;
    
}
.slide{
    float: left;
    position: relative;
    width: 590px;
    height: 470px;
    background-color: #fff;
}
.prev,.next{
    color: #ccc;
    text-align: center;
    width: 25px;
    height: 35px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    line-height: 35px;
    background-color: rgba(0,0,0,.15);
    font-size: 20px;
    cursor: pointer;
}
.prev{
    left: 0;
    border-radius: 0 18px 18px 0;
}
.next{
    right: 0;
    border-radius: 18px 0 0 18px;
}
.banner-btn{
    left: 30px;
    bottom: 20px;
    width: 120px;
    height: 15px;
    position: absolute;
}
.banner-btn li{
    float: left;
    width: 8px;
    height: 8px;
    border: 1px solid rgba(0,0,0,.05);
    margin-right: 4px;
    border-radius: 50%;
    background-color: rgba(255, 255,255, .4);
    transition: background .2s ease;
}
.banner-btn .active{
    position: relative;
    top: -2px;
    width: 8px;
    height: 8px;
    border: 3px solid rgba(0,0,0,.1)   ;
    background-color: rgba(255, 255, 255, 1);
}
.content{
    position: relative;
    width: 100%;
}
.miaosha{
    width: 100%;
    height: 260px;
    /* background-color: beige; */
    margin-bottom: 20px;
}

.guangchang {
    height: 1005px;
    margin-bottom: 20px;
    background-color: antiquewhite;
}
.tuijian{
    height: 1870px;
    background-color: blueviolet;
}
.elevator{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 615px;
    width: 58px;
    height: 252px;
    
}
.elevator a{
    width: 38px;
    height: 38px;
    display: block;
    line-height: 19px;
    font-size: 14px;
    color: #333;
    padding: 10px;
    transition: color .2s ease;
    background-color: #fff;

}
.elevator-fix{
    position: fixed;
    top: 75px;
    animation: eleShow 0.5s ease;
}
@keyframes eleShow {
    0%{
        top: 0;
    }
    100%{
        top:75px
    }
    
}
.search-fix{
    z-index: 100;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #f10214;
    background-color: #fff;
    box-shadow:  2px 2px rgba(0,0,0,.2);
    animation: searchTop .5s ease-in-out;
}
@keyframes searchTop {
    0%{
        top: -50px;
    }
    100%{
        top:0
    }
    
}
.menu{
overflow: hidden;
height: 470px;

margin-right: 10px;

width: 190px;
float: left;
}
.item-recommend{
    float: left;
    height: 470px;
   
    
    width: 190px;
    margin-left: 10px;
    
}
.func-right{
    position: relative;
    float: right;
    width: 190px;
    height: 470px;
    z-index: 1;
    background-color: #e1251b;
}
.cate-menu{
    overflow: hidden;
   
    height: 470px;
    background-color: #fefefe;
    color: #363636;
    
  
}
.cate-menu-item{
    padding-top: 10px;
        
        overflow: hidden;
        height: 25px;
        line-height: 25px;
        padding-left: 18px;
        font-size: 0;
        transition: background-color .2s ease;
}
.cate-menu-lk{
    font-size: 14px;
    color: #333;
    transition: color .2s ease;
}
.cate-menu-lk a{
  
   text-decoration: none;
}
.focus-item-recommend{
    height: 150px;
    margin-bottom: 10px;
   
}
.focus-item-recommend img{
   
   width: 100%;
   height: 100%;
}
.user{
    
    height: 204px;
    background: #fff;
}
.service{
    overflow: hidden;
    height: 238px;
    background-color: cadetblue;
}
.news {
    height: 30px;
    background-color: chocolate;
}
.avatar{
    width: 40px;
    margin: 0 auto;
    position: relative;
    height: 40px;
    display: block;
   
}
.avatar img{
    position: absolute;
    top: 8px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.user-show{
    margin: 12px 0 8px;

}
.welcome{
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    line-height: 20px;
    font-style: normal;
    
}
.welcome a{
    color: #666;
    text-decoration: none;

}
.user-vip{

}
.personal-vip{
width: 166px;
height: 45px;
display: flex;
overflow: hidden;
border-radius: 4px;
margin: 10px auto 0 ;
background: linear-gradient(90deg,#FFF4D2,#FFECB6);;
}
.enterprise-vip{
    width: 166px;
    height: 45px;
    overflow: hidden;
    display: flex;
    border-radius: 4px;
    background: #E0E8F8;
    margin: 10px auto 0 ;

}
.person-left{
    width: 100px;
    font-style: normal;
}
.title{
    margin-top: 6px;
    margin-left: 8px;
    color: #663300;
    font-weight: 600;
    font-size: 14px;

}
.title_detail{
    margin-left: 8px;
    color: #A88100;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
}
.person-right{
    display: block;
    color: #663300;
    line-height: 29px;
    font-size: 12px;

}
.enter-title{
    margin-top: 6px;
    margin-left: 8px;
    color: #3161E2;
    font-weight: 600;
    font-size: 14px;
}
.enter-right{
    display: block;
    color: #3161E2;
    line-height: 29px;
    font-size: 12px;
}
.now {
    font-size: 11px;
    font-weight: 400;
}
.enter-now{
    font-size: 11px;
    font-weight: 400;
    color: #3161E2;
}
.enter-title_detail{
    margin-left: 8px;
    color: rgba(49,97,226,.7);
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
}
.enter-left{
    width: 100px;
    font-style: normal;
}
.service{
    overflow: hidden;
    position: relative;
    height: 238px;
    width: 100%;

}
.service-entry{
    overflow: hidden;
    padding: 5px 0.5px;
    background-color: #fff;
}
.service-ul{
    padding-top: 5px;
    height: 225px;
}
.service-ul li{
 list-style: none;
}
.service-item{
    position: relative;
    float: left;
    width: 63px;
    height: 55px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}
.service-icon{
    display: block;
    width: 28px;
    height: 28px;
   
    margin: 0 auto;
}
.service-icon-img{
    
    width: 28px;
    height: 28px;
   
}
.service-lk{
    display: block;

}
.service-txt{
    height: 25px;
    color: #333;
    line-height: 25px;
    border-bottom: 2px solid #fff;
    font-size: 12px;

}
.news{
    height: 30px;
    background-color: #fff;
}
.news-info{
    height: 16px;
    margin: -2px 15px 8px;
}
.news-item{
    max-width: 160px;
    height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
    margin-bottom: 6px;
}
.news-item a{
    font-size: 12px;
    color: #666;
}
.news-tag{
    display: inline-block;
    position: relative;
    font-size: 12px;
    height: 16px;
    width: 35px;
    line-height: 16px;
    text-align: center;
    vertical-align: 0;
    color: #e1251b;
    background-color: rgba(225,37,27,.08);
    margin-right: 6px;
}
.seckill{
   width: 1190px;
   margin-left: auto;
   margin-right: auto;
}
.seckill_inner{
    height: 100%;
    overflow: hidden;
    background-color: #fff;
}
.seckill-countdown{
    float: left;
    width: 190px;
    height: 100%;
    color: #fff;
   background-color: #e83632;
    background: url(./../images/4a15d8883775742e3efbb850ae14def7.png) no-repeat;
    background-size: contain;
    background-position: 50%;
   

}
.seckill-title{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 31px;
}
.countdown-desc{
    margin-top: 90px;
    font-size: 14px;
    text-align: center;
}
.countdown-desc strong{
    font-size: 18px;
    padding-right: 2px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -1px;
    font-weight: bold;
}
.timmer{
    color: #333;
    font-weight: 700;
}
.countdown-main{
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 30px;
    margin-top: 10px;
    display: block;
}
.timmer-unit{
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #2f3430;
    margin-right: 20px;
    color: white;
    font-size: 20px;
}
.timmer-unit::after{
    content: ":";
    display: block;
    position: absolute;
    right: -20px;
    font-weight: bolder;
    font-size: 18px;
    width: 20px;
    height: 100%;
    top: 0
}
.hour{
    padding-top: 1px;
}
.timmer-unit-final{
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #2f3430;
   
    color: white;
    font-size: 20px;
}
.minute,.hour,.second{
    padding-top: 4px;
}
.seckill-list{
    float: left;
    width: 800px;
    height: 100%;
    overflow: hidden;
}
.seckill-item{
    position: relative;
    width: 200px;
    height: 260px;
    display: inline-block;
}
.seckill_item{
    height: 100%;
    min-height: 1px;
}
.seckill-item_image{
    width: 140px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.lazyimg-loaded{
    background: transparent;
}
.seckill-item_name{
    font-size: 12px;
    font-weight: 400;
    color: #333;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
}
.seckill-item-price{
    position: relative;
    
    box-sizing: border-box;
    line-height: 24px;
    overflow: hidden;
    text-align: center;
    width: 160px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
.price{
    height: 100%;
    width: 66px;
    background: #fff;
    text-align: center;
    color: #e1251b;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}
.price i{
    font-style: normal;
}
.seckill_entry{
    position: relative;
    float: left;
    width: 200px;
    height: 260px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.seckill_entry img{
    width: 100%;
    height: 100%;
}
.more2{
    min-height: 305px;
}
.floorhd{
    height: 65px;
}
.grid_c1{
    margin: 0 auto;
    width: 1190px;
}
.floorhd_tit{
    position: relative;
    width: 150px;
    height: 45px;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 45px;
    padding: 0 30px;
    margin: 0 auto 20px;
    overflow: hidden;
    color: #333;
}
.floorhd_tit::before{
    background-image: url(./../images/gird1.png);
    width: 25px;
    height: 20px;
    background-position: 0 0;
    left: 0;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.floorhd_tit::after{
    background-position: -25px 0;
    right: 0;   
    background-image: url(./../images/grid2.png);
    width: 25px;
    height: 20px;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.feed-tab-wrap{
    background: #ffffff;
    margin-bottom: 10px;
}
.feed-tab{
    margin: 0 auto;
    height: 60px;
    width: 1080px;

}
.feed-tab_item{
    position: relative;
    float: left;
    width: 180px;
    height: 60px;
    text-align: center;
    cursor: pointer;
}
.feed-tab_item-title{
    color: #333;
    margin-top: 7px;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    height: 27px;
}
.feed-tab_item-title-text{
    background: #e1251b;
    color: #fff;
    width: 70px;
    height: 27px;
    display: inline-block;
    border-radius: 50px;
    padding: 0 5px;

}
.feed-tab_item-desc{
    color: #e1251b;
    font-size: 14px;
}
.gap{
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    margin: 10px 0;
    width: 1px;
    background: linear-gradient(180deg,white,#dfdfdf 51%,white);
}
.feed-title{
    color: #333;
    margin-top: 7px;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    height: 27px;
}
.feed-title_item-text{
    color: #999;
    font-size: 14px;
}
.more2-list{
    margin: 0 -5px;
}
.more2-item{
    position: relative;
    display: inline-block;
    float: left;
    width: 230px;
    height: 322px;
    margin: 0 5px 10px;
    background: #fff;
    overflow: hidden;
}
.more2-item_gdot{
    position: absolute;
    bottom: 0;
    right: 20px;
    display: inline-block;
    width: 1px;
    height: 1px;
    background-color: #b1b1b1;
}
.more2-lk{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.more2-img{
    width: 230px;
    height: 230px;
    margin: 0 auto 5px;
}
.more2-info{
    clear: both;
    line-height: 24px;
    padding: 0 20px;
    height: 65px;
}
.more2-info-name{
    height: 48px;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #666;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.more2-price{
    margin-top: 10px;
}
.mod-price{
    display: inline-block;
    float: left;
    width: 75px;
    text-align: left;
    font-size: 16px;
    line-height: 18px;
    height: 18px;
    color: #e1251b;
 
}
.more2_info_price_text {
    font-size: 20px;
    font-weight: 700;
    font-family: arial,sans-serif;
}

.mod-price i{
    vertical-align: middle;
    font-size: 12px;
    font-weight: 700;
    font-family: MicrosoftYahei-regular,Arial,Helvetica,sans-serif;
}

.more2_info_price_text-decimal {
    font-size: 12px;
    float: right;
    padding-top: 3px;
}
.mod-service{
    padding: 30px 0;
    border-bottom: 1px solid #dedede;
}
.mod-service-inner{
    
}
.service-list{
    overflow: hidden;
    height: 42px
}
.mod-service-item{
    float: left;
    width: 297px;
}
.mod-service-unit{
    position: relative;
    margin: 0 auto;
    padding-left: 45px;
    width: 180px;
}
.duo{
    background-repeat: no-repeat;
    background-position: 0 -192px;
    background: url(../images/cc1d8d291ea917c0.png);
    


}
.kuai{
    background-repeat: no-repeat;
    background-position: -41px -192px;

   
    
}
.duo-tit{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 42px;
    text-indent: -999px;
}
.mod-service-txt{
    overflow: hidden;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
}

.clearfix::after{
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
}

/* .youxuan{
    height: 980px;
    width: 100%;
    margin-bottom: 20px;
    background-color: aqua;
} */

/* body{

    font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
} */





